<%= form_with model:[:autors, :livros] do |form| %>
  <div>
    <%= form.fields_for :autor do|autor_form| %>
      <%= autor_form.label :nome %>
      <%= autor_form.text_field :nome %>
    <% end %>
  </div>

  <div>
    <%= form_fields_for :livro do |livro_form| %>
      <%= livro_form.label :titulo %>
      <%= livro_form.text_field :titulo %>
    <% end %>
  </div>
<div>
  <%= form.submit "Salvar" %>
</div>

<% end %>

